 /*
 * Reset styles using Eric Meyer's CSS reset as inspiration (http://meyerweb.com/eric/tools/css/reset/) 
 */
a, abbr, address, article, aside, audio, b, bdi, bdo, blockquote, body, br, button, canvas, caption, cite, code, col, 
colgroup, command, datalist, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form,
h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, keygen, kbd, label, legend, li, map, mark, menu, 
meter, nav, object, ol, optgroup, option, output, p, param, pre, progress, q, rp, rt, ruby, s, samp, section, select, 
small, source, span, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, track, u, ul, 
var, video, wbr {
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}

/**
 * Typography
 */
@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
	font-family: 'Orbitron';
	src: url('../fonts/Orbitron/Orbitron-Bold.ttf');
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
	color: #FFF;
	font-family: 'Orbitron', sans-serif;
	margin-bottom: 1.6rem;
}

h1 {font-size: 2.4rem;}
h2 {font-size: 2.0rem;}
h3 {}
h4 {}
h5 {}
h6 {}


/**
 * Text
 */
a {
	color: #F69;
	text-decoration: none;
}
p {
	line-height: 1.6rem;
	margin-bottom: 1.6rem;
}
p .icon {line-height: 1.6rem;}
em {font-style: italic;}
strong {font-weight: bold;}

/**
 * Application
 */
html {height: 100%;}
body {
	background: #222222;
	background: -moz-linear-gradient(top, #222222 0%, #1A1A1A 100%);
	background: -webkit-linear-gradient(top, #222222 0%, #1A1A1A 100%);
	background: linear-gradient(to bottom, #222222 0%, #1A1A1A 100%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #999;
	display: block;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height: 100%;
}
#navWrapper {
	background: #000;
	box-shadow: 0rem 0.125rem 1rem #111;
	height: 3.75rem;
	position: fixed;
	width: 100%;
	z-index: 100;
}
#nav {
	margin: 0 auto;
	width: 90%;
}
#mainWrapper {
	padding-top: 3.75rem;
	width: 100%;
}
#main {
	margin: 0 auto;
	padding-top: 2rem;
	width: 90%;	
}
#content {
	clear: both;
	display: block;
	margin: 1.6rem 0;
}

/**
 * Navbar
 */
#logo {
	background: url(../images/logo.png);
	background-size: cover;
	display: inline-block;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	height: 2.5rem;
	margin-top: 0.625rem;
	transition: all linear 100ms;
	width: 12.5rem;
}
#logo:hover, #logo:focus {
	filter: grayscale(0%);
	outline: none;
	-webkit-filter: grayscale(0%);	
}

/**
 * Dropdown
 */
#dropdownTrigger {
	float: right;
	height: 3.75rem;
	line-height: 3.75rem;
	padding: 0 1rem;
	position: relative;
}
#dropdownTrigger:hover, #dropdownTrigger:focus {
	background: #222;
	cursor: pointer;
	outline: none;
}
#userBackground {
	background: #222;
	border-radius: 50%;
	color: #FFF;
	display: inline-block;
	height: 2.4rem;
	line-height: 2.4rem;
	margin: 0.675rem 0.5rem 0.675rem 0;
	text-align: center;
	width: 2.4rem;
}
#dropdownTrigger:hover #userBackground, #dropdownTrigger:focus #userBackground {
	background: #000;
	color: #F69;
}
#userBackground .icon {
	font-size: 1.3rem;
}
#dropdown {
	background: #000;	
	display: none;
	list-style: none;
	position: absolute;
	left: 0;
	top: 3.75rem;
	width: 100%;
	z-index: 1000;
}
#dropdownTrigger:hover #dropdown, #dropdownTrigger:focus #dropdown {display: block;}
#dropdown li {
	height: 2rem;
	margin: 0;
	width: 100%;
}
#dropdown a {
	color: #999;
	display: block;
	height: 2rem;
	line-height: 2rem;
	text-indent: 1rem;
	width: 100%;
}
#dropdown a:hover {
	background: #F69;
	color: #000;
}


/**
 * Forms
 */
input {
	background: #000;
	border: none;
	border-radius: 0.25rem;
	color: #F69;
	cursor: pointer;
	line-height: 1.6rem;
	padding: 0.25rem 0.5rem;
	transition: all linear 100ms;
}
input[list]{
	background: #000;
	color: #F69;	
}
select {
	background: #000;
	border: none;
	border-radius: 0.25rem;
	color: #F69;
	cursor: pointer;
	padding: 0.25rem 0.5rem;
	transition: all linear 100ms;
}
select:hover {background: #111;}
input:focus, select:active, select:focus {outline-color: #F69;}
option {
	border: none;
	color: #999;
}
option:hover, option:active, option:selected {
	background-color: #F69;
	color: #111;
}

/**
 * Select Replace
 */
.selectContainer {
	background: #000;
	border-radius: 0.25rem;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #F69;
	cursor: pointer;
	display: inline-block;
	line-height: 1.6rem;
	overflow: hidden;
	padding: 0.25rem 1rem;
	text-indent: 0.5rem;
	width: auto; 
}
.selectContainer:hover {background: #111;}
.selectContainer.active, .selectContainer:focus {
	outline-color: #F69;
}
.selectContainer .display {float: left;}
.trigger {
	clear: none;
	color: #CCC;
	display: block;
	float: left;
	width: 17px;	
}
.selectList, .content .selectList {
	background: #000;
	color: #999;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
	display: block;
	list-style: none;
	margin: -0.05rem 0 0 0;
	max-height: 8em;
	z-index: 100;
}
.selectList li {
	cursor: pointer;
	height: 2.2em;
	line-height: 2.2em;
	text-indent: 0.5em;	
}
.selectList li:hover, li.activeLi {
	background: #F69;
	color: #000;
}
.selectList li.selectOptgroup {height: auto;}
.selectList li.selectOptgroup:hover {
	background: none;
	color: #000;
	cursor: default;
}
.selectOptgroup span {
	color: #999;
	font-style: italic; 
	font-weight: bold; 
}
.selectOptgroup ul {
	list-style: none; 
	margin: 0px; 
	padding: 0px;
}
.selectList .selectOptgroup li {text-indent: 1em;}

/**
 * Auto-complete
 */
.autocompleteList, .autocompletePrompt {
	background: #000;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	height: auto;
	list-style: none;
	margin: 0.05rem 0 0;
	position: absolute;
	z-index: 10000;
}
.autocompleteList li {padding: 0.5rem 1rem;}
.autocompleteList li:hover, .autocompleteList li.active {
	background: #F69;
	color: #000;
}
.autocompleteList strong {color: #FFF;}
.autocompletePrompt {
	color: #999;
	margin-left: 0.05rem;
	padding: 0 1rem;
}

/**
 * Filters
 */
#filters {
	display: block;
	list-style: none;
}
.filter {
	clear: none;
	float: left;
	margin-right: 2rem;
}
.filter span {margin-right: 0.5rem;}
#display span, #display .buttonList {
	clear: none;
	float: left;
	height: 3.2rem;
	line-height: 2.2rem;
	width: auto;
}
#cityLabel {
	position: relative;
	top: -0.6rem;
}

/**
 * Tables
 */
table {
	margin-bottom: 1.6rem;
	width: 100%;}
tr {
	animation: tableRow 10ms cubic-bezier(.76, 0, .34, 1.02) 10ms 1 normal forwards;
	-webkit-animation: tableRow 10ms cubic-bezier(.76, 0, .34, 1.02) 10ms 1 normal forwards;
	color: #CCC;
	opacity: 0.75;
}
th {
	background: #000;
	text-align: left;
	transition: all linear 100ms;
}
th.numeric {width: 6%;}
th:hover {
	background: #333;
}
td {
	background: #111;
	transition: all linear 300ms;
	padding: 0.5rem 1rem;
}
td.numeric {text-align: right;}
td.total {
	font-weight: bold;
	color: #FFF;
}
tr:hover td {
	background: #000;
	color: #F69;
}
th button {
	background: #000;
	border: none;
	color: #F69;
	display: inline-block;
	padding: 0.5rem 1rem;
	position: relative;
	text-align: left;
	width: 100%;
}
th button:hover, th button:focus {
	background: #111;
	cursor: pointer;
	outline: none;
}
th button:focus {color: #FFF;}
.sortAsc::after, .sortDesc::after {
	content: '\25b2';
	float: right;
}
.sortDesc::after {
	content: '\25bc';
}

/**
 * Table Animations
 */
@keyframes tableRow {
	from {
		color: #CCC;
		opacity: 0.75;
		width: 0%;
	}
 	to {
 		color: #999;
 		opacity: 1.0;
 		width: 100%;
 	}	
}

@-webkit-keyframes tableRow {
	from {
		color: #CCC;
		opacity: 0.75;
		width: 0%;
	}
 	to {
 		color: #999;
 		opacity: 1.0;
 		width: 100%;
 	}	
}

/**
 * Chrome Scrollbars
 */
::-webkit-scrollbar {
	height: 0.25rem;
	width: 0.75rem; 
}
::-webkit-scrollbar-button {display: none;}
::-webkit-scrollbar-track {background-color: rgba(25, 25, 25, 0.5);}
::-webkit-scrollbar-track-piece { background-color: rgba(25, 25, 25, 0.5);}
::-webkit-scrollbar-thumb { 
	background-color: #333;
	height: 3rem;
}
::-webkit-scrollbar-corner { background-color: #333;}}
::-webkit-resizer { background-color: #333;}

/**
 * Button Lists
 */
.buttonList {
	display: block;
	list-style: none;
	overflow: hidden;
	width: 100%;
}
.buttonList li {
	float: left;
	margin-right: 0.25rem;
}
.buttonList button {
	background: #000;
	border: none;
	border-radius: 0.25rem;
	color: #999;
	display: inline-block;
	line-height: 1.6rem;
	padding: 0.25rem 0.5rem;
	transition: all linear 100ms;
}
.buttonList button:hover, .buttonList button.selected {
	background: #111;
	color: #F69;
	cursor: pointer;
}
.buttonList button:focus {
	color: #F69;
	outline-color: #F69;
}
.buttonList .icon {
	font-size: 1.1rem;
	margin-top: -0.25rem;
}
#yearList {
	display: inline-block;
	float: left;
	width: auto;
}
#yearList button {
	animation: buttons 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal forwards;
	-webkit-animation: buttons 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal forwards;
	transform: scale(0);
}
#yearList li:nth-child(2) button {animation-delay: 50ms;}
#yearList li:nth-child(3) button {animation-delay: 100ms;}
#yearList li:nth-child(4) button {animation-delay: 150ms;}
#yearList li:nth-child(5) button {animation-delay: 200ms;}
#yearList li:nth-child(6) button {animation-delay: 250ms;}
#yearList li:nth-child(7) button {animation-delay: 0ms;}
#cycleList {
	clear: none;
	display: inline-block;
	float: left;
	margin-left: 17rem;
	width: auto;
}
#cycle.selected {position: relative;}
#cycle.selected .icon-cycle {
	animation: rotate 1000ms linear 0ms infinite normal forwards;
	-webkit-animation: rotate 1000ms linear 0ms infinite normal forwards;
	color: #FFF;
}
#cycle.selected:after {
	animation: growX 5000ms linear 0ms infinite normal forwards;
	-webkit-animation: growX 5000ms linear 0ms infinite normal forwards;	
	background: #333;
	bottom: 0.0125rem;
	content: '';
	display: block;
	height: 0.0125rem;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: left bottom;
	-moz-transform-origin: left bottom;
	-o-transform-origin: left bottom;
	-webkit-transform-origin: left bottom;	
	width: 100%;
}

/**
 * Button Animations
 */
@keyframes buttons {
	from {transform: scale(0);}
 	to {transform: scale(1);}	
}

@-webkit-keyframes buttons {
	from {transform: scale(0);}
 	to {transform: scale(1);}
}

@keyframes rotate {
	from {transform: rotate(0deg);}
 	to {transform: rotate(360deg);}	
}

@-webkit-keyframes rotate {
	from {transform: rotate(0deg);}
 	to {transform: rotate(360deg);}
}

@keyframes growX {
	from {transform: scaleX(0);}
 	to {transform: scaleX(1);}	
}

@-webkit-keyframes growX {
	from {transform: scaleX(0);}
 	to {transform: scaleX(1);}
}

/**
 * Map
 */
#yearList {margin: 0 0 1.6rem;}
#map {
	clear: both;
	display: inline-block;
	float: left;
	margin-right: 10%;
	margin-top: 1.6rem;
	overflow: hidden;
	padding-bottom: 40%;
	position: relative;
	vertical-align: middle;
	width: 40%;	
}
#map svg {
	display: inline;
	left: 0;
	position: absolute;
	top: 0;
}
.neighborhood {
	animation: neighborhood 25ms linear 10ms 1 normal forwards;
	-webkit-animation: neighborhood 25ms linear 10ms 1 normal forwards;
	fill: #F69;
	transform: scale(0.5);
	stroke: #000;
	stroke-width: 0.0001;
}
.neighborhood:hover, .neighborhood.selected, a:focus .neighborhood {
	fill: #FFF;
	fill-opacity: 0.8 !important;
	cursor: pointer;
}
.tooltip {
	background: #000;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	position: absolute;
}
.tooltip span span {
	color: #F69;
	font-weight: bold;
	margin-left: 0.5rem;
}

/**
 * Map Animations
 */
@keyframes neighborhood {
	from {transform: scale(0.5);}
 	to {transform: scale(1);}	
}

@-webkit-keyframes neighborhood {
	from {transform: scale(0.5);}
 	to {transform: scale(1);}		
}

/**
 * Neighborhood Details
 */
#neighborhoodDetail {
	clear: none;
	display: block;
	float: left;
	margin-top: 1.6rem;
	width: 50%;
}
.title {overflow: hidden;}
#neighborhoodDetail h2 {
	animation: title 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal forwards;
	-webkit-animation: title 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal forwards;
	opacity: 0;
	transform: translateX(-100%);
}
#neighborhoodDetail p {
	animation: crashTotal 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal forwards;
	-webkit-animation: crashTotal 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal forwards;
	background: #111;
	border-radius: 0.25rem;
	display: inline-block;
	opacity: 0;
	padding: 0.5rem 1rem;
	transform: translateX(300%);
	width: auto;
}
#graphList {list-style: none;}
#graphList li {
	clear: none;
	float: left;
	margin-right: 2%;
	width: 18%;
}
.graph {
	display: block;
	height: 10rem;
	margin: 2rem 0 1rem;
	position: relative;
	text-align: center;
	width: 50%;
}
.graphBar {
	animation: barGraph 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal forwards;
	-webkit-animation: barGraph 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0ms 1 normal forwards;	
	background: #555;
	bottom: 0;
	display: block;
	position: absolute;
	transform: scaleY(0);
	transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	-o-transform-origin: center bottom;
	-webkit-transform-origin: center bottom;
	width: 100%;
}
.graphBar.selected {background: #F69;}
#graphList li:nth-child(2) .graphBar {animation-delay: 25ms;}
#graphList li:nth-child(3) .graphBar {animation-delay: 50ms;}
#graphList li:nth-child(4) .graphBar {animation-delay: 75ms;}
#graphList li:nth-child(5) .graphBar {animation-delay: 100ms;}
.graphQuantity {
	position: absolute;
	text-align: center;
	top: -2rem;
}
.graphYear {
	bottom: -4rem;
	display: block;
	position: absolute;
	text-align: center;
	width: 100%;
}

/**
 * Neighborhood Animations
 */

@keyframes title {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
 	to {
 		opacity: 1;
 		transform: translateX(0%);
 	}	
}

@-webkit-keyframes title {
	from {
		opacity: 0;
		transform: translateX(-100%);
	}
 	to {
 		opacity: 1;
 		transform: translateX(0%);
 	}
}

@keyframes crashTotal {
	from {
		opacity: 0;
		transform: translateX(300%);
	}
 	to {
 		opacity: 1;
 		transform: translateX(0%);
 	}	
}

@-webkit-keyframes crashTotal {
	from {
		opacity: 0;
		transform: translateX(300%);
	}
 	to {
 		opacity: 1;
 		transform: translateX(0%);
 	}
}

@keyframes barGraph {
	from {transform: scaleY(0);}
 	to {transform: scaleY(1);}	
}

@-webkit-keyframes barGraph {
	from {transform: scaleY(0);}
 	to {transform: scaleY(1);}	
}